@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
</br>
<div class="container">
    <div class="row">
        <div class="col-md-2 offset-md-10 bg-secondary pt-1 pl-1 pr-1 pb-1 text-center">
            <a href="#">Add Courses</a> 
        </div>
    </div>
</div>