@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Login</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="container">
    <div class="row">
        <div class="col text-right">
            <a class="nav-link text-dark" asp-area="" asp-controller="Signin" asp-action="Register">Register</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form action="/action_page.php">
                <label for="email">Email Id</label><br />
                <input type="text" id="email" /><br />
                <label for="password">Password</label><br />
                <input type="password" id="password" /><br /><br />
                <input type="submit" value="Sign In">
            </form>

        </div>
    </div>
</div>