@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Register</h1>
        </div>
    </div>

    <div class="row ">
        <div class="col text-left">
            <a class="nav-link text-dark" asp-area="" asp-controller="Signin" asp-action="Index">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <form action="/action_page.php">
                <label for="fname">First Name</label><br />
                <input type="text" id="fname" /><br />
                <label for="fname">Last Name</label><br />
                <input type="text" id="lname" /><br />
                <label for="email">Email Id</label><br />
                <input type="text" id="email" /><br /><br>
                <input type="submit" value="Register">
            </form>

        </div>
    </div>
</div>