@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    /* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


</style>
</br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group">
                <input id="search-input" type="search" class="form-control" placeholder="Search Record...">
                <button id="search-button" type="button" class="btn btn-primary">
                    @*<i class="fa fa-search"></i>*@Search
                </button>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="card" style="top: 20px; background-color:gainsboro;margin-left: 180px; margin-top:80px; width:980px">
        <div class="card-body">
            <h5 class="card-title">Student Info </h5>
            <form action="/SearchRecord/Studentsubmitquery" method="post" role="form" class="php-email-form" asp-antiforgery="true">
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputSid">Student ID<span style="color:red">*</span></label>
                        <input name="inputSid" type="text" class="form-control" id="inputSid" placeholder="Enter Student ID" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCid">Course ID<span style="color:red">*</span></label>
                        <input name="inputCid" type="text" class="form-control" id="inputCid" placeholder="Enter Course ID" required>
                    </div>
                </div>
                <br />

                <div class="form-row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div style="margin-top: 40px"></div>
</div>