<div class="container">
    <div class="card" style="top: 20px; background-color:gainsboro;margin-left: 180px; margin-top:80px; width:980px">
        <div class="card-body text-center">
            <h5 class="card-title">Dash Board </h5>
            <div class="row ">
                <div class="col-4 dash_board">
                    <a href="/AddStudent">Student Admission</a>
                </div>
                <div class="col-4 dash_board">
                    <a href="#">Student Information</a>
                </div>
                <div class="col-4 dash_board">
                    <a href="/Courses">Courses</a>
                </div>
            </div>
            <div class="row ">
                <div class="col-4 dash_board">
                    <a href="/SearchRecord">Add Fees</a>
                </div>
                <div class="col-4 dash_board">
                    <a href="#">Student Information</a>
                </div>
                <div class="col-4 dash_board">
                    <a href="#">Student Information</a>
                </div>
            </div>
        </div>
        
    </div>
    <div style="margin-top: 40px"></div>
</div>