@{
    ViewData["Title"] = "Home Page";
}

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
@*<div class="container">
    <div class="row">
        <div class="col text-center">
            <form action="/action_page.php">
                <label for="fname">First Name</label><br />
                <input type="text" id="fname" /><br />
                <label for="fname">Last Name</label><br />
                <input type="text" id="lname" /><br />
                <label for="email">Email Id</label><br />
                <input type="text" id="email" /><br /><br>
                <input type="submit" value="Submit">
            </form>

        </div>
    </div>
</div>*@