/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

    .wrapper .sidebar {
        position: fixed;
        width: 240px;
        height: 100%;
        background: #4b4276;
        padding: 30px 0;
    }

        .wrapper .sidebar h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px
        }

        .wrapper .sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid rgba(0,0,0,0.5);
            border-top: 1px solid rgba(225,225,225,0.5);
        }

            .wrapper .sidebar ul li a {
                color: #bdb8d7;
                display: block;
            }

            .wrapper .sidebar ul li .fas {
                width: 25px;
            }

            .wrapper .sidebar ul li:hover {
                background: #594f8d;
            }

                .wrapper .sidebar ul li:hover a {
                    color: #fff;
                }

        .wrapper .sidebar .social_media {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            display: flex;
        }

            .wrapper .sidebar .social_media a {
                display: block;
                width: 40px;
                background: #594f8d;
                height: 40px;
                line-height: 40px;
                text-align: center;
                margin: 0 5px;
                color: #bdb8d7;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }

    .wrapper .main_content {
        width: 100%;
        margin-left: 200px;
    }

        .wrapper .main_content .header {
            padding: 20px;
            background: #fff;
            color: #717171;
            border-bottom: 1px solid #e0e4e8;
        }

        .wrapper .main_content .info {
            margin: 20px;
            color: #717171;
            line-height: 25px;
        }

            .wrapper .main_content .info div {
                margin-bottom: 20px;
            }

/*.dash_board {
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%)
}
    .dash_board a {
        
        width: 150px;
        background:#594f8d;
        height:70px;
        
        text-align:center;
        margin:0 5px;
        color:#bdb8d7;
        border-top-right-radius:5px;
        border-top-left-radius: 5px;
        padding: 50px;
    }*/
.dash_board{
    padding:120px;
    
    border:1px solid;
}